{% extends "home/base.html" %}

{% block app %}
    {% load static %}
    <main id ="what" class="content-container">
        <link rel="stylesheet" href="{% static 'graph/draw/css/style.css' %}">
        <div id="equation-input" class="equation-form">
            <label for="equation">Linear Equation</label>
            <input autofocus type="text" name="equation" id="equation" name-space="{% url 'graph:equation-data' %}">
            <button v-on:click="lookup" id="get-data-btn"> Sketch Equation!</button>
        </div>


        <canvas id="graph" class="draw">

        </canvas>
    </main>
    
 
    <script src="{% static 'graph/draw/js/scripts.js' %}"></script>
    <script src="{% static 'graph/draw/js/app.js' %}"></script>

{% endblock %}
